body {
  font-family: "Montserrat", serif !important;
  font-weight: weight !important;
  font-style: normal !important;
  height: 300vh;
  margin: 0;
  scroll-behavior: smooth !important;
  background-repeat: repeat-y !important;
  background-repeat: no-repeat;
  padding: 0px !important;
  overflow-x: hidden !important;
  background-image: url("../images/bg.png");
}

.brand-logo {
  width: 110px;
  height: 110px;
  cursor: pointer;
}

.main-aside .social-item {
  background: linear-gradient(to left, #6256ca 10%, #000fff 100%);
  clip-path: polygon(100% 20%, 100% 40%, 100% 20%, 90% 90%, 1% 90%, 15% 10%);
  transform: rotate(5deg) scale(1.1);
}
.main-aside .social-item-two {
  background: #000fff;
  clip-path: polygon(100% 20%, 100% 40%, 100% 20%, 90% 90%, 1% 90%, 15% 10%);
  transform: rotate(5deg) translateY(3px) scale(1.3);
  margin-right: 15px;
}
.main-aside .social-item-three {
  background: #c62e2e;
  clip-path: polygon(100% 20%, 100% 40%, 100% 20%, 90% 90%, 1% 90%, 15% 10%);
  transform: rotate(5deg) translateY(5px) scale(1.5);
  margin-right: 15px;
}
.social-item .img-fluid {
  width: 40px;
  height: 40px;
}

.qmta-roleplay-section {
  background: linear-gradient(to left, #60b267 10%, #a0b475 100%);
  clip-path: polygon(100% 20%, 100% 40%, 100% 20%, 90% 90%, 1% 90%, 15% 10%);
  padding: 8% 5% 25% 15%;
  transform: translateX(-15%) translateY(-45px);
  height: 645px !important;
  color: aliceblue;
}
.qmta-roleplay-section .btn {
  border: none;
  box-shadow: 0 15px 28px #c7f8ba;
  cursor: pointer;
  background-color: #feff9f !;
}

.tree-container {
  position: relative;
  right: -80%;
  width: 100%;
  top: 100% !important;
  height: 300px;
  transform: translateY(-370%) !important;
}

.section-character-container {
  position: relative;
}

.section-character-content-one {
  position: absolute;
  transform: translateX(99%) translateY(-5%) scale(1.4) !important;
  transition: 1.5s ease-in-out !important;
  z-index: 1;
  display: block;
  width: 120% !important;
}

.section-character-content-two {
  position: absolute;
  left: 50%;
  transform: translateX(92%) translateY(-19%);
  width: 85%;
  transition: 2.5s ease-in-out !important;
  z-index: 1 !important;
}

.gta-image-container {
  position: relative;
  left: -30%;
  margin-left: 10%;
  margin-top: 20px;
  width: fit-content;
  transform: translateY(-120%);
  animation: bounce 1s infinite alternate;
  z-index: 1050 !important;
}

.collapse:not(.show) {
  display: inline !important;
}
.collapse .player-box-nav {
  border: none;
  background-color: #343434;
  width: 210px;
  padding: 10px 14px;
  box-shadow: 0 0 14px #5d5d5d;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}

.player-box-nav:hover {
  box-shadow: 0 0 20px #8b8b8b;
  transform: scale(1.02);
}

.main-section .container-fluid {
  background-image: url(../images/particles.png);
}
.main-section .btn {
  border: 1px solid rgb(52, 52, 52);
  padding: 10px 15px !important;
  color: aliceblue;
  font-weight: bold;
  background-color: transparent;
  margin: 10px 0;
}
.btn .section-btn-arrow-icon {
  color: purple;
}

#section-two {
  transform: translateY(-40%);
}
.main-right-image {
  position: absolute;
  right: -5%;
  transform: translateY(-10%);
}

#right-column {
  position: relative;
}

.right-character-image {
  filter: grayscale(100%);
}
.left-character-image {
  position: absolute;
  left: 5%;
  filter: grayscale(100%);
  width: 50%;
  transform: translateY(-115%) !important;
}
.deneme-title {
  position: relative;
  font-size: 25px;
}
.deneme-title:after {
  content: "";
  position: absolute;
  bottom: -3px !important;
  width: 240px;
  height: 2px;
  border: 1px solid rgb(156, 0, 101);
  background-color: rgb(156, 0, 101);
  transform-origin: right;
  transform: translateX(-102%);
  border-bottom-right-radius: 15px !important;
}
.downloads-section {
  transform: translateY(-48%);
}
.downloads-section .container-fluid {
  padding: 5%;
}

.gtasa-download-card {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 3px 3px gray;
  padding: 16px;
  text-wrap: stable;
  transition: 0.2s ease-in-out !important;
  color: aliceblue !important;
}
.gtasa-download-card:hover {
  box-shadow: 0 5px 5px rgb(153, 153, 153);
}
.gtasa-download-card .btn {
  box-shadow: 0 5px 12px #b03052;
}
.gtasa-download-card .gtasa-logo {
  width: 50px;
  height: 50px;
  transform: scale(1.5) translate(15%);
}
.gtasa-download-card .mtasa-logo {
  width: 62px;
  height: 60px;
  margin-right: 15px !important;
  transform: scale(1.5) translate(15%);
}

.contact-social-cards-dc {
  height: 100px;
  background: linear-gradient(to right, #192a3a, #192a3a);
  box-shadow: 0 5px 15px rgba(24, 24, 61, 0.8);
  color: aliceblue !important;
  font-family: Proxima Nova, sans-serif !important;
  column-gap: 15px;
  font-size: 38px;
  transition: 0.2s ease-in-out !important;
  font-weight: bolder;
  border-radius: 15px;
  cursor: pointer;
}
.contact-social-cards-dc:hover {
  box-shadow: 0 2px 14px #4a628a;
}

.contact-social-cards-yt {
  height: 100px;
  background: linear-gradient(to right, #75333d, #602a32);
  box-shadow: 0 5px 15px #431f25;
  color: aliceblue !important;
  font-family: Proxima Nova, sans-serif !important;
  column-gap: 15px;
  font-size: 38px;
  transition: 0.2s ease-in-out !important;
  font-weight: bolder;
  border-radius: 15px;
  cursor: pointer;
}
.contact-social-cards-yt:hover {
  box-shadow: 0 3px 15px #7e0000;
}
.contact-social-cards-insta {
  height: 100px;
  background: linear-gradient(to right, #75333d, #5f2830);
  box-shadow: 0 3px 13px #431f25;
  color: aliceblue !important;
  font-family: Proxima Nova, sans-serif !important;
  column-gap: 15px;
  font-size: 38px;
  transition: 0.2s ease-in-out !important;
  font-weight: bolder;
  border-radius: 15px;
  cursor: pointer;
}
.contact-social-cards-insta:hover {
  box-shadow: 0 4px 14px #58012a;
}

.contact-social-cards-forum {
  height: 100px;
  background: linear-gradient(
    to right,
    rgb(32, 32, 32),
    rgba(41, 0, 107, 0.8),
    rgb(32, 32, 32)
  );
  box-shadow: 0 5px 15px #353434;
  color: aliceblue !important;
  font-family: Proxima Nova, sans-serif !important;
  column-gap: 15px;
  font-size: 38px;
  transition: 0.2s ease-in-out !important;
  font-weight: bolder;
  border-radius: 15px;
  cursor: pointer;
}
.contact-social-cards-forum:hover {
  box-shadow: 0 2px 14px #463e74;
}

@keyframes bounce {
  0% {
    transform: translateY(-135%);
  }

  100% {
    transform: translateY(5px) !important;
  }
}

@media (max-width: 578px) {
  .tree-container {
    display: none !important;
  }
  .hover-btn-two {
    height: 80%;
    z-index: 3050 !important;
  }
  .main-aside li {
    transform: rotate(0deg) !important;
    clip-path: none !important;
  }
  .qmta-roleplay-section {
    position: relative;
    margin-left: 60px !important;
    margin-top: 10px;
    clip-path: none;
    width: 390px;
    height: 540px !important;
    padding: 5px;
    z-index: 2 !important;
  }
  .section-character-content-one {
    display: none !important;
  }
  .section-character-content-two {
    display: none !important;
  }
  .gta-image-container {
    position: relative;
    left: -10%;
    margin-left: 10%;
    width: fit-content;
    transform: translateY(-20%);
    animation: bounce 3s infinite alternate;
    z-index: 1050 !important;
  }
  #section-two {
    transform: translateY(3%);
  }
  .gtasa-download-card {
    height: auto !important;
  }

  #right-column .main-right-image {
    display: none !important;
  }
  #right-column .right-character-image {
    width: 120px !important;
    filter: none !important;
    height: 100%;
    transform: translateX(-305%);
  }
  #right-column {
    position: fixed;
    right: 0%;
    overflow: hidden !important;
    width: 60%;
    transform: scaleX(-1) translateY(-30%) !important;
  }
  #column-center {
    z-index: 3050 !important;
    flex: 100%;
  }
  /* Left Column */
  #left-column .main-left-image {
    display: none !important;
  }
  #left-column {
    position: fixed;
    left: -50%;
    top: 600px;
    transform: scaleX(-1);
  }
  #left-column .left-character-image {
    filter: none !important;
    width: 380px;
  }

  .downloads-section {
    transform: translateY(20%);
  }
  #contact-text {
    margin: 20px auto;
  }
  .contact-social-cards-dc,
  .contact-social-cards-yt,
  .contact-social-cards-forum,
  .contact-social-cards {
    width: 170px;
    height: 120px;
    margin: 8px 2px;
    padding: 5px !important;
  }
  #col-sm-6 {
    flex: 35.3% !important;
    width: 43.3%;
  }
  .footer {
    margin-top: 150px !important;
  }

  @keyframes bounce {
    0% {
      transform: translateY(-90%);
    }

    100% {
      transform: translateY(5px) !important;
    }
  }
}

@media (min-width: 578px) and (max-width: 992px) {
  #section-two {
    transform: translateY(-25%);
  }
  .hover-btn-two {
    height: 80%;
    z-index: 3050 !important;
  }
  .hover-btn-one {
    height: 80%;
    z-index: 3050 !important;
  }
  footer {
    margin-top: 80px !important;
  }
  footer .col-md-3 {
    margin-bottom: 20px;
  }
  .tree-container {
    display: none;
  }
  .section-character-content-one {
    display: none;
  }
  .section-character-content-two {
    display: none;
  }
  .qmta-roleplay-section {
    position: relative;
    margin: 15px auto;
    clip-path: polygon(100% 10%, 100% 50%, 100% 20%, 90% 90%, 1% 90%, 15% 10%);
    z-index: 2 !important;
    padding: 90px;
  }

  #right-column .main-right-image {
    display: none !important;
  }
  #right-column {
    display: none;
    /* position: absolute;
    right: -25%;
    width: 60% !important;
    overflow-x: hidden !important;
    z-index: -1 !important;
    transform: scaleX(-1) translateY(13%); */
  }

  #left-column .left-character-image {
    filter: none !important;
    width: 100%;
  }
  #left-column {
    position: fixed !important;
    left: -57%;
    top: 160%;
    z-index: -1 !important;
    transform: scaleX(-1);
  }

  .downloads-section {
    transform: translateY(10%);
  }

  #left-column .main-left-image {
    display: none !important;
  }
}

@media (min-width: 778px) and (max-width: 990px) {
  #right-column {
    position: absolute; /* fixed yerine absolute kullan覺yoruz */
    right: -25%; /* 1% yerine 0 */
    width: 60% !important; /* 100% yerine 50% */
    transform: scaleX(-1) translateY(-1%) !important; /* translateX kald覺r覺ld覺 */
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  #right-column .main-right-image {
    display: none !important;
  }
  #right-column .right-character-image {
    transform: scaleX(-1) scale(1.5);
  }
  #right-column {
    position: relative;
    right: 6%;
    transform: translateY(10%);
  }
  .right-character-image img {
    width: 80%;
    height: 100% !important;
  }
  /* Left Column */
  #left-column .main-left-image {
    display: none !important;
  }
  .tree-container {
    display: none !important;
  }
  .left-character-image {
    transform: scaleX(-1) translateX(50%) !important;
  }
  .left-character-image .img-fluid {
    height: 500px !important;
  }
  .downloads-section {
    transform: translateY(10%);
  }
  .gtasa-download-card {
    height: auto !important;
  }
  .main-section {
    transform: translateY(5%) !important;
  }
  .section-character-content-one {
    transform: translateX(200%) scale(1.6);
    width: 50%;
  }
  .section-character-content-two {
    transform: translateX(230%) translateY(10%) scale(2.1);
    width: 40%;
  }
}

@media (min-width: 1300px) {
  .section-character-content-one {
    transform: translateX(260%) scale(1.6);
    width: 50%;
    display: block !important;
  }
  .section-character-content-two {
    transform: translateX(350%) translateY(10%) scale(2);
    width: 40%;
  }
}
footer {
  font-size: 14px;
  box-shadow: 0 3px 13px rgb(83, 83, 83);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
footer:hover {
  box-shadow: 0 5px 24px rgb(100, 100, 100);
}

footer h5 {
  font-size: 16px;
}

footer .list-unstyled li {
  margin-bottom: 5px;
}
